@font-face {
    font-family: "Work Sans";
    src: url("fonts/work-sans-v24-latin-regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #191919;
    font-family: "Work Sans", Work Sans, sans-serif;
    color: #d9d9d9;
}

h1, h2 {
    margin-bottom: -120px;
}

#homepage-title {
    text-align: center;
}

#homepage-last-name {
    font-size: 300px;
}

#homepage-first-name {
    top: 100px;
    font-size: 100px;
}

#homepage-nav {
    text-align: center;
    margin-top: 170px;
}

.general-nav {
    top: 0px;
}

#page-content {
    margin-top: 150px;
}

a {
    color: #d9d9d9;
    text-decoration: none;
}

.table {
    margin-top: 40px;
    border: 3px solid #d9d9d9;
    text-align: center;
    padding: 8px;
    border-collapse: collapse;
}

th, tr, td {
    border: 3px solid #d9d9d9;
}